

<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <img src="https://scontent.faqa1-1.fna.fbcdn.net/v/t1.6435-9/201409948_4016418181729376_1499715813502532886_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHZBFf-rZ9a5105ZpYW858fMFwciodFcZUwXByKh0VxlQaGQtDDh6kcq_DSMN7dXr0bn50WdeKd4RfhKRNQO9nB&_nc_ohc=mzVXeBBMba4AX8ali51&_nc_ht=scontent.faqa1-1.fna&oh=00_AT8aef0ddSDrLEus4eN74yIped-_zVAzxxB2GrWHJKuMZw&oe=6274A891" width="200" height="200">

</head>

<body>
    <header>
        <h1><center>Meu Namorado Fofura</center></h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>